 div#blok1 {
 width: 603px;
 background : green;
 }
 div#blok2 {
 width: 603px;
 background : green;
 }
 div#blok3 {
 width: 603px;
 background : green;
 }

div#blok1:hover{
background : red;
font-size: 21mm;
}

div#blok2:hover{
background : silver;
font-size: 21mm;
}

div#blok3:hover{
background : blue;
font-size: 21mm;
}


   <!-- hover; zmiany pewnych elementów po najechaniu na nie urz¹dzeniem
   wskazuj¹cym (np. mysz¹)
   Wiktoria Bogdziewicz !-->